# macOS
.DS_Store

# Node / React Native / Expo
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log*
package-lock.json

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# Build / output
dist/
build/
lab07/
lab08/
node_modules/
